    body {
        background-image: url(images/download.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
        
        
    }
    h1{
        color:orange;
        text-align: center;
        animation-iteration-count: 1;
    }
    #button:active {
        align-content: center;
        font-size: 100%;
        line-height: 100%;
        width: 100%;
        box-shadow: 2px 5px #888888;
        padding: 70px;
    }
    button{
        margin-left:auto;
        margin-right: auto;
    }
  
    #buttonDown{
        margin-left:auto;
        margin-right: auto;
    }
    .row{
        margin-left:12%;
        padding: 70px;
    }
    #container{
        margin-left: auto;
        margin-right: auto;
    }
    .col{
        padding: none;
        align-items: center;

    }