    body {
        background-image: url(images/Untitled\ 2.001.jpeg);
        background-position: center;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    h1{
        font-family: 'Rock Salt', cursive;
        color:orange;
        text-align: center;
    }
    #button:active {
        align-content: center;
        font-size: 100%;
        line-height: 100%;
        box-shadow: 2px 5px #888888;
        padding: 50px;
    }
    button{
       transform:scale(1.5);
    }
  
    #buttonDown{
     transform: scale(1);
     font-family: 'Bowlby One SC', cursive;
    }
    .row{
        margin-left:12%;
        padding: 70px;
    }
    #container{
        margin-left: auto;
        margin-right: auto;
    }
    .col{
        padding: none;
        align-items: center;

    }